@model AuctionSystem.DTOs.SignInDto
@{
    Layout = null;
}

<!doctype html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <title>Auction System</title>
    <base href="/">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="icon" type="image/x-icon" href="~/Img/favicon.ico">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.1/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-F3w7mX95PdgyTmZZMECAngseQB83DfGTowi0iMjiWaeVhAn4FJkqJByhZMI3AhiU" crossorigin="anonymous">
</head>
<body>
    <div class="row">
        <div class="col-md-3"></div>
        <div class="col-md-6">
            <img src="~/Img/user_login2.jpg" class="mx-auto d-block" width="200px" height="200px">
            <form autocomplete="off" class="mb-4" asp-action="SignIn" asp-controller="Authentication" method="post">
                <div class="form-group">
                    <label>Email</label>
                    <input class="form-control" type="text" asp-for="Email" placeholder="Eg:- user@organization.com" required>
                </div>
                <div class="form-group">
                    <label>Password</label>
                    <input type="password" class="form-control" type="password" asp-for="Password" placeholder="*******" required>
                </div> <br>
                <div class="form-row">
                    <div class="form-group col-md-8 offset-md-2">
                        <button type="submit" class="btn btn-success btn-block" [disabled]="form.invalid">Login</button>
                    </div>
                </div>
            </form>
        </div>
        <div class="col-md-3"></div>
    </div>

    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.1/dist/js/bootstrap.bundle.min.js" integrity="sha384-/bQdsTh/da6pkI1MST/rWKFNjaCP5gBSY4sEBT38Q/9RBh9AH40zEOg7Hlq2THRZ" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.1/dist/js/bootstrap.min.js" integrity="sha384-skAcpIdS7UcVUC05LJ9Dxay8AXcDYfBJqt1CJ85S/CFujBsIzCIv+l9liuYLaMQ/" crossorigin="anonymous"></script>
</body>
</html>